@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FED835;
  --secondary: #304fff;

  --primary-accent: #e5c230;
  --foreground-accent: #454545;
  --hero-background: #F3F3F5;
  --emerald-gradient: linear-gradient(135deg, #10b981 0%, #059669 50%, #047857 100%);
  --blue-gradient: linear-gradient(135deg, #3b82f6 0%, #1d4ed8 50%, #1e3a8a 100%);
  --amber-gradient: linear-gradient(135deg, #f59e0b 0%, #d97706 50%, #b45309 100%);
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-lg;

  color: var(--foreground);
  background: var(--background);
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}
